<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>환율 계산기</title>
</head>
<body>
<h1>환율 계산</h1>
<form>
    <div>
    <label>송금국가:</label>
    <select id="sendingCountry">
        <option selected value="USD">미국(USD)</option>
        <option value="AUD">호주(AUD)</option>
    </select>
    </div>

    <div>
    <label>수취국가:</label>
    <select id="receivingCountry">
        <option selected value="KRW">한국(KRW)</option>
        <option value="JPY">일본(JPY)</option>
        <option value="PHP">필리핀(PHP)</option>
    </select>
    </div>

    <div>
    <label>환율:<span th:text="${currencyInfo.quotes.get('USDKRW')} + ' KRW/USD'"></span></label>
    <p></p>
    </div>

    <div>
    <lable>송금액:</lable>
    <input type="number" id="sendingMoney">
    <span>USD 혹은 AUD</span>
    </div>

    <div>
    <button type="submit">Submit</button>
    </div>

    <div>
    <!--계산된 수취금액 표기자리-->
    <p></p>
    </div>
</form>
</body>
</html>